[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylast = "*"
pymongo = "*"
spotipy = "*"
networkx = "*"
scikit-learn = "*"
dnspython = "*"
hashlib-additional = "*"

[dev-packages]

[requires]
python_version = "3.9"
