<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Scoutify</title>
    {% include 'include.html' %}
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <script src="{% static 'js/graph.js' %}"></script>
</head>
<body>
<script>renderNav('Artists Network')</script>
       <script>
            render_graph();
        </script>

    <div id="main">
        <div id="intro">
            <h1 class="display-4" style="font-size: 2rem;">
                Naviga facilmente all'interno della rete delle correlazioni tra artisti in Spotify!
            </h1>
        </div>






        <div class="row" id="pane">
            <div class="col-lg-3" id="sidebar"></div>
            <div class="col-lg-9" id="graphDiv"></div>
        </div>
    </div>
    <script src="//d3js.org/d3.v3.min.js"></script>
</body>
</html>