{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ca78d5a4ec.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="icon" href="{% static 'images/Logo.png' %}">
<script>
    function renderNav(active) {
    if(active === 'home'){
        $("#main").html("<nav class=\"navbar\">\n" +
        "            <a class=\"navbar-brand\" href=\"/home\">\n" +
        "              <img alt=\"Brand\" src=\"{% static 'images/Logo.png' %}\">\n" +
        "            </a>\n" +
        "            <a class=\"navLink navLinkActive nav-link\" href=\"/home\">Home</a>\n" +
            "            <a class=\"navLink nav-link\" href=\"/explore\">Explore</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/graph\" >Graph Visualization</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/recommendations\">Recommendations</a>\n" +
        "        </nav>\n" )
    }
    else if(active === 'explore'){
        $("#main").html("<nav class=\"navbar\">\n" +
        "            <a class=\"navbar-brand\" href=\"/home\">\n" +
        "              <img alt=\"Brand\" src=\"{% static 'images/Logo.png' %}\">\n" +
        "            </a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/home\">Home</a>\n" +
            "            <a class=\"navLink navLinkActive nav-link\" href=\"/explore\">Explore</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/graph\" >Graph Visualization</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/recommendations\">Recommendations</a>\n" +
        "        </nav>\n")
    }
    else if(active === 'graph'){
        $("body").html("<nav class=\"navbar\">\n" +
        "            <a class=\"navbar-brand\" href=\"/home\">\n" +
        "              <img alt=\"Brand\" src=\"{% static 'images/Logo.png' %}\">\n" +
        "            </a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/home\">Home</a>\n" +
                "            <a class=\"navLink nav-link\" href=\"/explore\">Explore</a>\n" +
        "            <a class=\"navLink navLinkActive nav-link\" href=\"/graph\" >Graph Visualization</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/recommendations\">Recommendations</a>\n" +
        "        </nav>\n")
    }
    else if(active === 'recommender'){
        $("body").html("<nav class=\"navbar\">\n" +
        "            <a class=\"navbar-brand\" href=\"/home\">\n" +
        "              <img alt=\"Brand\" src=\"{% static 'images/Logo.png' %}\">\n" +
        "            </a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/home\">Home</a>\n" +
                "            <a class=\"navLink nav-link\" href=\"/explore\">Explore</a>\n" +
        "            <a class=\"navLink nav-link\" href=\"/graph\" >Graph Visualization</a>\n" +
        "            <a class=\"navLink navLinkActive nav-link\" href=\"/recommendations\">Recommendantions</a>\n" +
        "        </nav>\n")
    }
}

function showError(jqXHR) {
    $("#main").html("").append("<div id='error'>");
    $("#error").append("<i class=\"far fa-7x fa-sad-tear\"></i>").css("text-align", "center").css("margin-top", "5%")
        .append("<h1>Error "+jqXHR.status+"...").append("<h1>Ops qualcosa è andato storto, per favore riprova!");
}
</script>